<h1>Listing all Customers</h1>
<%= form_tag customers_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>
<p><%= link_to "create new Customer", new_customer_path %></p>
<p><%= link_to 'home page', root_path %></p>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
  </tr>
  <% @customer.each do |customer| %>
    <tr>
      <td><%= customer.name %></td>
      <td><%= customer.email %></td>
      <td><%= link_to "Edit", edit_customer_path(customer) %></td>
      <td><%= link_to "Show", customer_path(customer) %></td>
      <td><%= link_to 'Delete', customer_path(customer), method: :delete,
                                data: {confirm: "Are you sure?"} %> </td>
    </tr>
  <% end %>
</table>